a, a:visited {
    color: black;
    text-decoration: none;
    border-bottom: 1px solid;
    border-color: #ff8800;
}
.logoLink {
    border: none;
}
ul {
    margin-left: 0em;
    padding-left: 1em;
}
li {
    list-style: circle;
}