<footer class="avenir mt4 f7 f6-m f5-ns">
    <div class="bt b--light-silver pv4 w-100 flex items-center">
        <a class="dtc v-mid no-underline logoLink w-25 self-start" rel="" href="{{ "/" | url }}"><img class="v-mid" src="{{ "/images/brownLogo2.png" | url }}"></a>
        <div class="flex flex-column w-50 self-start tc">
        <h4 class="mt3-ns mt2-m mt1 mb2">Connect</h4>
            <p class="mv1"><a class="logoLink" href="mailto:cj-2022@columbia.edu">Email: cj-2022@columbia.edu</a></p>
            <p class="mv1">Join the conversation #cj2022</p>
        </div>
        <div class="flex flex-column w-25">
            <h4 class="mt3-ns mt2-m mt1 mb2">Previous C+J Symposia</h4>
            <p class="mv1"><a class="no-underline logoLink" rel="" href="https://cj2021.northeastern.edu/">2021 (Northeastern University & online w/ the Brown Institute)</a></p>
            <p class="mv1"><a class="no-underline logoLink" rel="" href="http://cplusj.org/">2019 (University of Miami)</a></p>
            <p class="mv1"><a class="no-underline logoLink" rel="" href="http://cj2017.northwestern.edu/">2017 (Northwestern University)</a></p>
            <p class="mv1">2016 (Stanford University)</p>
            <p class="mv1"><a class="no-underline logoLink" rel="" href="http://cj2015.brown.columbia.edu/">2015 (Columbia University)</a></p>
            <p class="mv1"><a class="no-underline logoLink" rel="" href="http://computation-and-journalism.brown.columbia.edu/">2014 (Columbia University)</a></p>
            <p class="mv1">2013 (Georgia Tech)</p>
            <p class="mv1">2008 (Georgia Tech)</p>
        </div>
    </div>
</footer>
